/Scrapy/demo2/demo2/spiders/__pycache__/*.pyc
/Scrapy/demo2/demo2/__pycache__/*.pyc
/Scrapy/demo3_images360/demo3_images360/__pycache__/*.pyc
/proxypool/__pycache__/*.pyc
/__pycache__/*.pyc
/Scrapy/demo3_images360/demo3_images360/spiders/__pycache__/*.pyc
/Scrapy/__pycache__/*.pyc
/Scrapy/demo4_crawlSpider/demo4_crawlSpider/__pycache__/*.pyc
/Scrapy/demo4_crawlSpider/demo4_crawlSpider/spiders/__pycache__/*.pyc
/*.pyc
/mzitu/images
/mzitu/__pycache__
/__pycache__
/Scrapy/demo/demo/__pycache__/*.pyc
/Scrapy/demo/demo/spiders/__pycache__/*.pyc
/common/__pycache__/*.pyc
/avmoo/__pycache__/*.pyc
