/Scrapy/demo2/demo2/spiders/__pycache__/*.pyc
/Scrapy/demo2/demo2/__pycache__/*.pyc
/Scrapy/demo3_images360/demo3_images360/__pycache__/*.pyc
/proxypool/__pycache__/*.pyc
/__pycache__/*.pyc
/Scrapy/demo3_images360/demo3_images360/spiders/__pycache__/*.pyc
/Scrapy/__pycache__/*.pyc
/Scrapy/demo4_crawlSpider/demo4_crawlSpider/__pycache__/*.pyc
/Scrapy/demo4_crawlSpider/demo4_crawlSpider/spiders/__pycache__/*.pyc
/*.pyc
